<a href="https://colab.research.google.com/github/akashmavle5/--akash/blob/main/DataWiz_Group_2_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas_profiling

from matplotlib import rcParams
import warnings

warnings.filterwarnings("ignore")

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving mort_table_1_2015_2019.csv to mort_table_1_2015_2019 (3).csv

DATASET LINK:https://data.gov.au/data/dataset/mort-books/resource/a5de4e7e-d062-4356-9d1b-39f44b1961dc

In [ ]:
import io

In [ ]:
df= pd.read_csv(io.BytesIO(uploaded['mort_table_1_2015_2019.csv']))

In [ ]:
df.head()

   mort         category  ... pad_percent  pad_asr_per_100,000
0  REM1  Remoteness area  ...        51.3                127.1
1  REM1  Remoteness area  ...        51.2                121.7
2  REM1  Remoteness area  ...        51.3                122.6
3  REM1  Remoteness area  ...        49.7                115.1
4  REM1  Remoteness area  ...        50.1                117.3

[5 rows x 19 columns]

BASIC PREPROCESSING AND MANIPULATION

In [ ]:
df.describe()

               year  crude_rate_per_100,000  ...   pad_percent  pad_asr_per_100,000
count  15795.000000            15542.000000  ...  12800.000000          9644.000000
mean    2017.000000              725.076052  ...     50.650164           119.056740
std        1.414258              257.086218  ...      7.744214            48.889171
min     2015.000000               21.800000  ...      7.700000            29.500000
25%     2016.000000              542.825000  ...     46.400000            83.800000
50%     2017.000000              699.500000  ...     50.200000           110.800000
75%     2018.000000              889.400000  ...     54.500000           144.800000
max     2019.000000             2072.500000  ...     95.500000           483.100000

[8 rows x 10 columns]

In [ ]:
del df['mort']
del df['rate_ratio']

In [ ]:
d={'category':'Areas','geography':'Regions','sex':'Gender','deaths':'Fatalities','population':'Inhabitants','crude_rate_per_100,000':'Fatalities_per_100000','age_standardised_rate_per_100,000':'Age_std_mortality','median_age':'MeanAge','premature_deaths':'PrematureFatalities','premature_deaths_percent':'PrematureFatalitiesPercent','premature_deaths_asr_per_100,000':'PrematureFatalityASR','potential_years_of_life_lost':'PotentialLifeLost','pyll_rate_per_1,000':'PLLper1000','potentially_avoidable_deaths':'PotentialAvoidableFatalities','pad_percent':'PAFpercent','pad_asr_per_100,000':'PAF_ASRper100000'}

In [ ]:
df

                          category  ... pad_asr_per_100,000
0                  Remoteness area  ...               127.1
1                  Remoteness area  ...               121.7
2                  Remoteness area  ...               122.6
3                  Remoteness area  ...               115.1
4                  Remoteness area  ...               117.3
...                            ...  ...                 ...
15790  Local Government Area (LGA)  ...               110.8
15791  Local Government Area (LGA)  ...               107.3
15792  Local Government Area (LGA)  ...               107.1
15793  Local Government Area (LGA)  ...               102.5
15794  Local Government Area (LGA)  ...               103.1

[15795 rows x 17 columns]

In [ ]:
df.rename(columns=d, inplace=True)

In [ ]:
df

                             Areas  ... PAF_ASRper100000
0                  Remoteness area  ...            127.1
1                  Remoteness area  ...            121.7
2                  Remoteness area  ...            122.6
3                  Remoteness area  ...            115.1
4                  Remoteness area  ...            117.3
...                            ...  ...              ...
15790  Local Government Area (LGA)  ...            110.8
15791  Local Government Area (LGA)  ...            107.3
15792  Local Government Area (LGA)  ...            107.1
15793  Local Government Area (LGA)  ...            102.5
15794  Local Government Area (LGA)  ...            103.1

[15795 rows x 17 columns]

In [ ]:
df.fillna(df.median())

                             Areas  ... PAF_ASRper100000
0                  Remoteness area  ...            127.1
1                  Remoteness area  ...            121.7
2                  Remoteness area  ...            122.6
3                  Remoteness area  ...            115.1
4                  Remoteness area  ...            117.3
...                            ...  ...              ...
15790  Local Government Area (LGA)  ...            110.8
15791  Local Government Area (LGA)  ...            107.3
15792  Local Government Area (LGA)  ...            107.1
15793  Local Government Area (LGA)  ...            102.5
15794  Local Government Area (LGA)  ...            103.1

[15795 rows x 17 columns]

In [ ]:
df.insert(6,'Percentage:Hypertension',np.random.uniform(10,12,df.shape[0]))
df.insert(7,'Percentage:Diabetes',np.random.uniform(4,6,df.shape[0]))

In [ ]:
df.drop("PotentialAvoidableFatalities",inplace=True,axis=1)

In [ ]:
df.drop("Areas",inplace=True,axis=1)
df.drop("Regions",inplace=True,axis=1)
df.drop("year",inplace=True,axis=1)
df.drop("Gender",inplace=True,axis=1)

In [ ]:
df.drop("PAF_ASRper100000",inplace=True,axis=1)

In [ ]:
df

      Fatalities Inhabitants  ...  PLLper1000  PAFpercent
0         51,943   8,401,989  ...        44.0        51.3
1         51,829   8,561,821  ...        42.1        51.2
2         52,968   8,737,440  ...        41.5        51.3
3         52,257   8,899,330  ...        40.5        49.7
4         55,965   9,062,381  ...        43.7        50.1
...          ...         ...  ...         ...         ...
15790    159,052  23,815,995  ...        40.4        51.0
15791    158,504  24,190,907  ...        39.1        50.8
15792    160,909  24,601,860  ...        38.4        50.8
15793    158,493  24,982,688  ...        37.4        49.6
15794    169,301  25,365,571  ...        40.0        49.6

[15795 rows x 13 columns]

In [ ]:
df["Fatalities"]=df["Fatalities"].str.replace(',', '').astype(float)
df["Inhabitants"]=df["Inhabitants"].str.replace(',', '').astype(float)
df["PrematureFatalities"]=df["PrematureFatalities"].str.replace(',', '').astype(float)
df["PotentialLifeLost"]=df["PotentialLifeLost"].str.replace(',', '').astype(float)

In [ ]:
df

       Fatalities  Inhabitants  ...  PLLper1000  PAFpercent
0         51943.0    8401989.0  ...        44.0        51.3
1         51829.0    8561821.0  ...        42.1        51.2
2         52968.0    8737440.0  ...        41.5        51.3
3         52257.0    8899330.0  ...        40.5        49.7
4         55965.0    9062381.0  ...        43.7        50.1
...           ...          ...  ...         ...         ...
15790    159052.0   23815995.0  ...        40.4        51.0
15791    158504.0   24190907.0  ...        39.1        50.8
15792    160909.0   24601860.0  ...        38.4        50.8
15793    158493.0   24982688.0  ...        37.4        49.6
15794    169301.0   25365571.0  ...        40.0        49.6

[15795 rows x 13 columns]

Running Random Forest on original data(try to get <70% accuracy)
AFTER SOME BASIC MANIPULATION

In [ ]:
df.describe()

          Fatalities   Inhabitants  ...    PLLper1000    PAFpercent
count   15795.000000  1.569000e+04  ...  15542.000000  12800.000000
mean     1633.434061  2.507672e+05  ...     48.222114     50.650164
std     10480.179256  1.609977e+06  ...     27.175476      7.744214
min         0.000000  0.000000e+00  ...      0.000000      7.700000
25%        48.000000  6.256250e+03  ...     30.800000     46.400000
50%       195.000000  2.763450e+04  ...     42.200000     50.200000
75%       510.000000  7.964350e+04  ...     58.000000     54.500000
max    169301.000000  2.536557e+07  ...    396.300000     95.500000

[8 rows x 13 columns]

In [ ]:
X = df.drop("PAFpercent",1)   #Feature Matrix
y = df["PAFpercent"]          #Target Variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [ ]:
X

       Fatalities  Inhabitants  ...  PotentialLifeLost  PLLper1000
0         51943.0    8401989.0  ...           350184.0        44.0
1         51829.0    8561821.0  ...           341183.0        42.1
2         52968.0    8737440.0  ...           343185.0        41.5
3         52257.0    8899330.0  ...           340872.0        40.5
4         55965.0    9062381.0  ...           373552.0        43.7
...           ...          ...  ...                ...         ...
15790    159052.0   23815995.0  ...           900274.0        40.4
15791    158504.0   24190907.0  ...           883157.0        39.1
15792    160909.0   24601860.0  ...           882752.0        38.4
15793    158493.0   24982688.0  ...           871807.0        37.4
15794    169301.0   25365571.0  ...           944893.0        40.0

[15795 rows x 12 columns]

In [ ]:
X_train

       Fatalities  Inhabitants  ...  PotentialLifeLost  PLLper1000
6867         97.0      19300.0  ...              778.0        43.0
3651        441.0      43821.0  ...             2715.0        68.0
5148        196.0      29012.0  ...              856.0        32.7
2133       1443.0     283088.0  ...            10521.0        38.9
10549        42.0       4890.0  ...              140.0        32.3
...           ...          ...  ...                ...         ...
5191        172.0      37050.0  ...             1048.0        30.0
13418        67.0       7880.0  ...              519.0        72.8
5390        207.0      36558.0  ...             1068.0        31.1
860        2807.0     486330.0  ...            11832.0        26.0
7270        233.0      43568.0  ...             1502.0        36.8

[12636 rows x 12 columns]

In [ ]:
y_train

6867     63.3
3651     55.3
5148     55.1
2133     46.8
10549    61.8
         ...
5191     58.0
13418    38.5
5390     47.4
860      47.6
7270     49.4
Name: PAFpercent, Length: 12636, dtype: float64

In [ ]:
clf = RandomForestClassifier(n_estimators = 100)

In [ ]:
clf.fit(X_train, y_train)
 
# performing predictions on the test dataset
y_pred = clf.predict(X_test)
 
# metrics are used to find accuracy or error
from sklearn import metrics 
print()
 
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ValueError: ignored

DATA MANIPULATION

In [ ]:
y

1.ADD DUMMY COLUMNS

2.CHANGING COLUMN NAMES

3.MULTIPLY NUMERIC COLUMNS WITH SOME CONSTANT

4.CHANGING CATEGORICAL  DATA CLASS NAMES

5.ADD MISSING DATA

CHECKING ACCURACY ON FINAL DATASET